<div class="login-wrapper">
  <div class="card">
    <h1 class="title">Entrar</h1>

    <form class="form" autocomplete="off">
      <div class="form-control">
        <label for="login">Login</label>
        <input id="login" type="text" placeholder="Digite seu usuário" />
      </div>

      <div class="form-control">
        <label for="senha">Senha</label>
        <input id="senha" type="password" placeholder="Digite sua senha" />
      </div>

      <button class="btn-primary" type="button" (click)="entrar()">
        Acessar
      </button>
    </form>

    <!-- <a class="link" href="#">Esqueci minha senha</a> -->
  </div>
</div>
